*{
    padding: 0;
    margin: 0;
    outline: none;
}
a{
    text-decoration: none !important;
    display: inline-block;
}
h1 , h2 , h3 , h4 , h5 , h6 , p{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
/* nav part start */
.menu{
    background-color: #1C1E53;
    padding-top: 16px;
    padding-bottom: 16px;
}
.menu ul{
    padding-top: 8px !important;
}
.menu ul li{
    padding-left: 32px !important;
}
.menu ul li a{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    color: #BBBBCB !important;
}
.menu .menu-btn a{
    padding: 16px 48px !important;
    border: 2px solid rgba(244, 246, 252, 0.20) !important;
    background-color: #FCD980;
    border-radius: 41px;
    -webkit-border-radius: 41px;
    -moz-border-radius: 41px;
    -ms-border-radius: 41px;
    -o-border-radius: 41px;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: #1B1C2B !important;
    transition: 0.7s;
    -webkit-transition: 0.7s;
    -moz-transition: 0.7s;
    -ms-transition: 0.7s;
    -o-transition: 0.7s;
}
.menu .menu-btn a:hover{
    background-color: transparent;
    color: #fff !important;
}
.sidebar{
    background: linear-gradient(329deg, #1C1E53 -10.96%, rgba(28, 30, 83, 0.42) 103.96%);
    padding-left: 10px;
}
.offcanvas-header{
    color: white;
}
.btn-close {
    --bs-btn-close-bg: none
}
.btn-close i{
    color: white !important;
    font-size: 20px;
}
.offcanvas-title{
    padding-left: 130px;
    border-bottom: 1px solid #BBBBCB !important;
    width: 100%;
    padding-top: 10px;
}
.navbar-toggler-icon{
    font-size: 28px;
    padding-right: 20px;
    padding-top: 10px;
}
/* nav part end */


/* pricing part start */
#pricing{
    margin-top: 128px;
    margin-bottom: 818px;
}
.pricing_top h1{
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    font-weight: 600;
    line-height: 64px;
    color: #282938;
    text-align: center;
}
.pricing_top p{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    color: #282938;
    opacity: 0.7;
    text-align: center;
    padding-top: 8px;
}
.pricing_card_one{
    margin-top: 64px;
    padding: 64px 77px 62px 68px;
    background-color: #F4F6FC;
    transition: 0.7s;
    -webkit-transition: 0.7s;
    -moz-transition: 0.7s;
    -ms-transition: 0.7s;
    -o-transition: 0.7s;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}
.pricing_card_one_text h2{
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    font-weight: 600;
    line-height: 56px;
    color: #282938;
    transition: 0.7s;
    -webkit-transition: 0.7s;
    -moz-transition: 0.7s;
    -ms-transition: 0.7s;
    -o-transition: 0.7s;
}
.pricing_card_one_text h6{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: #2405F2;
    padding-top: 14px;
    transition: 0.7s;
    -webkit-transition: 0.7s;
    -moz-transition: 0.7s;
    -ms-transition: 0.7s;
    -o-transition: 0.7s;
}
.pricing_card_one_text h3{
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    color: #282938;
    transition: 0.7s;
    -webkit-transition: 0.7s;
    -moz-transition: 0.7s;
    -ms-transition: 0.7s;
    -o-transition: 0.7s;
}
.pricing_card_one_text p{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    color: #282938;
    opacity: 0.7;
    transition: 0.7s;
    -webkit-transition: 0.7s;
    -moz-transition: 0.7s;
    -ms-transition: 0.7s;
    -o-transition: 0.7s;
}
.pricing_card_one_text ul{
    padding-top: 78px;
    padding-left: 0;
}
.pricing_card_one_text ul li{
    padding-top: 15px;
}
.pricing_card_one_text ul li a{
    padding-left: 12px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: #282938;
    transition: 0.7s;
    -webkit-transition: 0.7s;
    -moz-transition: 0.7s;
    -ms-transition: 0.7s;
    -o-transition: 0.7s;
}
.pricing_card_one_text ul li i{
    font-size: 20px;
}
.pricing_card_one_text_btn a{
    margin-top: 80px;
    padding: 16px 77px;
    font-family: 'Manrope', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
    color: #F4F6FC;
    background-color: #282938;
    border-radius: 41px;
    -webkit-border-radius: 41px;
    -moz-border-radius: 41px;
    -ms-border-radius: 41px;
    -o-border-radius: 41px;
    transition: 0.7s;
    -webkit-transition: 0.7s;
    -moz-transition: 0.7s;
    -ms-transition: 0.7s;
    -o-transition: 0.7s;
}
.pricing_card_one:hover .pricing_card_one_text h2{
    color: #fff;
}
.pricing_card_one:hover .pricing_card_one_text p{
    color: #fff;
}
.pricing_card_one:hover .pricing_card_one_text h3{
    color: #fff;
}
.pricing_card_one:hover .pricing_card_one_text_btn a{
    background-color: #FCD980;
    color: #282938;
}
.pricing_card_one:hover .pricing_card_one_text ul li a{
    color: #FFFFFF;
}
.pricing_card_one:hover .pricing_card_one_text h6{
    color: #FCD980;
}
.pricing_card_one:hover{
    background: #1C1E53;
}
/* pricing part end */


/* footer part start */
#footer{
    padding-top: 96px;
    background-color: #1C1E53;
}
.footer_left{
    padding-top: 4px;
}
.footer_left p{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    color: #fff;
    opacity: 0.8;
    padding-top: 22px;
}
.footer_left_down_left{
    margin-top: 86px;
    padding: 18px 0px 16px 37px;
    background-color: #FCD980;
}
.footer_left_down_left h5{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
    color: #282938;
}
.footer_left_down_left a{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: #282938;
    opacity: 0.8;
}
.footer_left_down_right{
    margin-top: 86px;
    padding: 18px 0px 16px 37px;
    background-color: #FCD980;
}
.footer_left_down_right h5{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
    color: #282938;
}
.footer_left_down_right a{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: #282938;
    opacity: 0.8;
}
.footer_right h3{
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    font-weight: 600;
    line-height: 64px;
    color: #fff;
}
.footer_right p{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: #F4F6FC;
    opacity: 0.8;
    padding-top: 8px;
}
.footer_icon{
    padding-top: 28px;
    margin-left: -26px;
    padding-bottom: 10px;
}
.footer_icon i{
    padding-left: 26px;
}
/* footer part end */


/* ending part start */
#copyright{
    background-color: #fff;
    padding-top: 32px;
    padding-bottom: 6px;
}
.copyright_left a{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    color: #282938;
}
.copyright_right ul{
    display: flex;
    margin-left: -32px;
}
.copyright_right ul li{
    padding-left: 32px;
}
.copyright_right ul li a{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    color: #282938;
}
/* ending part end */


/* responsive part start */
@media(max-width:575.98px) {
    /* nav part start */
    .menu ul li a {
        color: #fff !important;
    }
    /* nav part end */

    /* pricing part start */
    #pricing {
        margin-top: 50px;
        margin-bottom: 60px;
    }
    .pricing_card_one_text ul {
        padding-top: 40px;
    }
    .pricing_card_one_text_btn a{
        margin-top: 15px;
    }
    .pricing_top h1{
        font-size: 26px;
        line-height: 1.2;
    }
    .pricing_top p{
        padding-top: 0px;
        line-height: 26px;
    }
    .pricing_card_one {
        margin-top: 20px;
        padding: 20px 20px 20px 20px;
    }
    .pricing_card_one_text ul {
        padding-top: 6px;
    }
    .pricing_card_one_text h2 {
        font-size: 24px;
        line-height: 1.2;
    }
    .pricing_card_one_text h6 {
        line-height: 26px;
        padding-top: 10px;
    }
    .pricing_card_one_text h3 {
        font-size: 18px;
        line-height: 1.2;
    }
    .pricing_card_one_text p {
        line-height: 26px;
    }
    .pricing_card_one_text ul li {
        padding-top: 10px;
    }
    .pricing_card_one_text ul li i {
        font-size: 16px;
    }
    .pricing_card_one_text_btn a {
        margin-top: 0px;
        padding: 8px 32px;
        font-size: 16px;
        line-height: 28px;
        margin-left: 40px;
    }
    /* pricing part end */

  /* footer part start */
  #footer {
    padding-top: 26px;
}
.footer_left {
  padding-top: 0px;
}
.footer_left p {
  padding-top: 0;
  line-height: 26px;
}
.footer_left_down_left {
  margin-top: 12px;
  padding: 25px 0px 10px 11px;
}
.footer_left_down_right {
  margin-top: 12px;
  padding: 20px 0px 10px 27px;
  background-color: #FCD980;
}
.footer_left_down_left {
  padding: 20px 0px 10px 7px;
}
.footer_left_down_left h5 {
  font-size: 16px;
  line-height: 26px;
}
.footer_left_down_left a {
  font-size: 14px;
  line-height: 26px;
}
.footer_left_down_right h5 {
  font-size: 16px;
  line-height: 26px;
}
.footer_left_down_right a {
  font-size: 14px;
  line-height: 26px;
}
.footer_right h3 {
  line-height: 1.2;
  font-size: 26px;
  padding-top: 4px;
}
.footer_right p{
  padding-top: 0;
    line-height: 26px;
}
.footer_icon {
    padding-top: 10px;
    margin-left: 0px;
    text-align: center;
}
/* footer part end */

/* ending part start */
.copyright_right ul {
    justify-content: center;
    flex-wrap: wrap;
    margin-left: -46px;
}
.copyright_right ul li  {
  padding-left: 18px;
}
.copyright_right ul li a{
  line-height: 26px;
}
.copyright_left{
    text-align: center;
}
/* ending part end */
}
@media (min-width:576px) and (max-width:767.98px) {
    /* nav part start */
    .menu ul li a {
        color: #fff !important;
    }
    /* nav part end */

        /* pricing part start */
        #pricing {
            margin-top: 50px;
            margin-bottom: 60px;
        }
        .pricing_card_one_text ul {
            padding-top: 40px;
        }
        .pricing_card_one_text_btn a{
            margin-top: 15px;
        }
        .pricing_top h1{
            font-size: 26px;
            line-height: 1.2;
        }
        .pricing_top p{
            padding-top: 0px;
            line-height: 26px;
        }
        .pricing_card_one {
            margin-top: 20px;
            padding: 25px 50px 25px 40px;
        }
        .pricing_card_one_text ul {
            padding-top: 6px;
        }
        .pricing_card_one_text h2 {
            font-size: 24px;
            line-height: 1.2;
        }
        .pricing_card_one_text h6 {
            line-height: 26px;
            padding-top: 10px;
        }
        .pricing_card_one_text h3 {
            font-size: 18px;
            line-height: 1.2;
        }
        .pricing_card_one_text p {
            line-height: 26px;
        }
        .pricing_card_one_text ul li {
            padding-top: 10px;
        }
        .pricing_card_one_text ul li i {
            font-size: 16px;
        }
        .pricing_card_one_text_btn a {
            margin-top: 16px;
            padding: 12px 40px;
            font-size: 16px;
            line-height: 28px;
            margin-left: 132px;
        }
        /* pricing part end */

  /* footer part start */
  #footer {
    padding-top: 26px;
}
.footer_left {
    padding-top: 0px;
  }
  .footer_left p {
    padding-top: 0;
    line-height: 26px;
  }
  .footer_left_down_left {
    margin-top: 12px;
      padding: 10px 0px 5px 37px;
  }
  .footer_left_down_right {
    margin-top: 12px;
      padding: 10px 0px 10px 37px;
      background-color: #FCD980;
  }
  .footer_left_down_left h5 {
    font-size: 16px;
    line-height: 26px;
  }
  .footer_left_down_left a {
    font-size: 14px;
    line-height: 26px;
  }
  .footer_left_down_right h5 {
    font-size: 16px;
    line-height: 26px;
  }
  .footer_left_down_right a {
    font-size: 14px;
    line-height: 26px;
  }
  .footer_right h3 {
    line-height: 1.2;
    font-size: 26px;
    padding-top: 4px;
  }
  .footer_right p{
    padding-top: 0;
      line-height: 26px;
  }
  .footer_icon {
    padding-top: 10px;
    margin-left: 0px;
    text-align: center;
}
  /* footer part end */

  /* ending part start */
  #copyright {
	padding-top: 15px;
	padding-bottom: 0px;
}
  .copyright_right ul {
      margin-left: 44px;
  }
  .copyright_right ul li {
      padding-left: 12px;
  }
  .copyright_left{
      text-align: center;
  }
  /* ending part end */
    
}
@media (min-width:768px) and (max-width:991.98px) {
    /* nav part start */
    .menu ul li a {
        color: #fff !important;
    }
    /* nav part end */

           /* pricing part start */
           #pricing {
            margin-top: 50px;
            margin-bottom: 60px;
        }
        .pricing_card_one_text ul {
            padding-top: 40px;
        }
        .pricing_card_one_text_btn a{
            margin-top: 15px;
        }
        .pricing_top h1{
            font-size: 40px;
            line-height: 1.2;
        }
        .pricing_top p{
            padding-top: 5px;
            line-height: 26px;
        }
        .pricing_card_one {
            margin-top: 20px;
            padding: 40px 60px 40px 60px;
        }
        .pricing_card_one_text ul {
            padding-top: 6px;
        }
        .pricing_card_one_text h2 {
            font-size: 32px;
            line-height: 1.2;
        }
        .pricing_card_one_text h6 {
            line-height: 26px;
        }
        .pricing_card_one_text h3 {
            line-height: 1.2;
        }
        .pricing_card_one_text_btn{
            text-align: center;
        }
        .pricing_card_one_text_btn a {
            margin-top: 16px;
            padding: 12px 40px;
            font-size: 16px;
            line-height: 28px;
        }
    
            /* footer part start */
            #footer {
                padding-top: 16px;
            }
            .footer_left_down_left {
                margin-top: 12px;
            }
            .footer_left_down_right {
                margin-top: 12px;
            }
            .footer_left p {
                padding-top: 10px;
            }
            .footer_right h3 {
                padding-top: 0px;
                line-height: 1.2;
                font-size: 40px;
            }
            .footer_right p {
                line-height: 26px;
                padding-top: 0px;
            }
            .footer_icon {
                padding-top: 8px;
            }
            /* footer part end */
    
            /* copyright part start */
            .copyright_left{
                text-align: center;
            }
            .copyright_right ul{
                flex-wrap: wrap;
                justify-content: center;
                margin-left: -55px;
            }
            /* copyright part end */
}
@media (min-width:992px) and (max-width:1199.98px) {
    /* nav part start */
    .menu .menu-btn a {
        padding: 16px 33px !important;
        margin-left: -20px;
    }
    /* nav part end */

    /* pricing part start */
    #pricing {
        margin-top: 128px;
        margin-bottom: 218px;
      }
    .pricing_card_one{
        padding: 45px 17px 42px 26px;
    }
    .pricing_card_one_text h6{
        padding-left: 10px;
        line-height: 1.2;
    }
    .pricing_card_one_text ul {
        padding-top: 30px;
    }
    .pricing_card_one_text_btn a{
        margin-top: 20px;
    }
    /* pricing part end */

    /* ending part start */
    .copyright_left a {
        width: 238px;
    }
    .copyright_right ul {
      margin-left: -84px;
  }
  .copyright_right ul li {
      padding-left: 17px;
  }
  .copyright_left{
      text-align: center;
  }
  /* ending part end */
}
@media (min-width:1200px) and (max-width:1400px) {
    /* pricing part start */
    #pricing{
        margin-bottom: 300px;
    }
    .pricing_card_one{
        padding: 64px 44px 62px 42px;
    }
    /* pricing part end */

  /* ending part start */
  .copyright_right ul {
    margin-left: -58px;
}
.copyright_right ul li {
    padding-left: 27px;
}
/* ending part end */
}
/* responsive part end */


/* pricing completed */